rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção de listas
    match /lists/{listId} {
      // Permite ler/escrever se o usuário estiver autenticado E estiver no array allowedUsers ou for o criador
      allow read, write: if request.auth != null && 
        (request.auth.uid in resource.data.allowedUsers || 
         request.auth.uid == request.resource.data.userId ||
         (request.method == 'create' && request.resource.data.userId == request.auth.uid));
    }
    // Regras para a coleção de usuários (Premium/Perfil)
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
